In [1]:
import numpy as np
import pandas as pd

## Data Exploration

In [2]:
#Load train_users into DF

df = pd.read_csv('data/train_users_2.csv')

In [3]:
#Look at DF 

df

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,20140630235636,NaN,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF
213447,mhewnxesx9,2014-06-30,20140630235719,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
213448,6o3arsjbb4,2014-06-30,20140630235754,NaN,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
213449,jh95kwisub,2014-06-30,20140630235822,NaN,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF
213450,nw9fwlyb5f,2014-06-30,20140630235824,NaN,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  object
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

## Dates

In [5]:
# Calculate days between 3 dates

In [6]:
#Change dates into same format

df['date_account_created'] = pd.to_datetime(df['date_account_created'])
df['timestamp_first_active'] = pd.to_datetime((df.timestamp_first_active // 1000000), format='%Y%m%d')
df['date_first_booking'] = pd.to_datetime(df['date_first_booking'])

In [7]:
df['days_until_booking'] = df['date_first_booking'] - df['timestamp_first_active']

In [8]:
df

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,days_until_booking
0,gxn3p5htnn,2010-06-28,2009-03-19,NaT,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,NaT
1,820tgsjxq7,2011-05-25,2009-05-23,NaT,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,NaT
2,4ft3gnwmtx,2010-09-28,2009-06-09,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,419 days
3,bjjt8pjhuk,2011-12-05,2009-10-31,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,1043 days
4,87mebub9p4,2010-09-14,2009-12-08,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,72 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,2014-06-30,NaT,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF,NaT
213447,mhewnxesx9,2014-06-30,2014-06-30,NaT,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF,NaT
213448,6o3arsjbb4,2014-06-30,2014-06-30,NaT,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF,NaT
213449,jh95kwisub,2014-06-30,2014-06-30,NaT,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF,NaT
213450,nw9fwlyb5f,2014-06-30,2014-06-30,NaT,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF,NaT

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  datetime64[ns]
 2   timestamp_first_active   213451 non-null  datetime64[ns]
 3   date_first_booking       88908 non-null   datetime64[ns]
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
 16  days_until_booking       88908 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(11), timedelta64[ns](1)
memory usage: 27.7+ MB

## Gender

In [10]:
#Look at the values

df['gender'].value_counts()

-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64

In [11]:
#Replace the unknown with nan values

df.gender.replace('-unknown-', np.nan, inplace=True)

## Age

In [12]:
#How many ages are wrong?  

df[df.age > 115]['age'].value_counts()

2014.0    710
2013.0     39
1932.0      3
1949.0      3
1931.0      3
1936.0      2
1947.0      2
1928.0      2
1929.0      2
1924.0      2
1933.0      1
1952.0      1
150.0       1
132.0       1
1938.0      1
1927.0      1
1995.0      1
1935.0      1
2008.0      1
1953.0      1
1926.0      1
1925.0      1
1942.0      1
Name: age, dtype: int64

In [13]:
#Replace 2013/2014 with NaN

df.age.replace(2013.0, np.nan, inplace=True)
df.age.replace(2014.0, np.nan, inplace=True)

In [14]:
#What's left? 

df[df.age > 115]['age'].value_counts()

1949.0    3
1931.0    3
1932.0    3
1947.0    2
1929.0    2
1924.0    2
1928.0    2
1936.0    2
1952.0    1
1933.0    1
1935.0    1
1925.0    1
1926.0    1
150.0     1
1938.0    1
132.0     1
1953.0    1
1942.0    1
1995.0    1
2008.0    1
1927.0    1
Name: age, dtype: int64

In [15]:
# Change year born to age (2014 - Year)

df.age.replace(1949.0, 65.0, inplace=True)
df.age.replace(1931.0, 83.0, inplace=True)
df.age.replace(1932.0, 82.0, inplace=True)
df.age.replace(1947.0, 67.0, inplace=True)
df.age.replace(1929.0, 85.0, inplace=True)
df.age.replace(1924.0, 90.0, inplace=True)
df.age.replace(1928.0, 86.0, inplace=True)
df.age.replace(1936.0, 78.0, inplace=True)
df.age.replace(1952.0, 62.0, inplace=True)
df.age.replace(1933.0, 81.0, inplace=True)
df.age.replace(1935.0, 79.0, inplace=True)

df.age.replace(1925.0, 89.0, inplace=True)
df.age.replace(1926.0, 88.0, inplace=True)
df.age.replace(1938.0, 76.0, inplace=True)
df.age.replace(1953.0, 61.0, inplace=True)
df.age.replace(1942.0, 72.0, inplace=True)
df.age.replace(1995.0, 19.0, inplace=True)
df.age.replace(2008.0, 6.0, inplace=True)
df.age.replace(1927.0, 87.0, inplace=True)

In [16]:
df[df.age < 18]['age'].value_counts()

17.0    67
5.0     45
16.0    26
15.0     8
2.0      7
4.0      3
1.0      2
6.0      1
Name: age, dtype: int64

In [17]:
#Make outliers nan

df.age.replace(5.0, np.nan, inplace=True)
df.age.replace(2.0, np.nan, inplace=True)
df.age.replace(4.0, np.nan, inplace=True)
df.age.replace(1.0, np.nan, inplace=True)
df.age.replace(6.0, np.nan, inplace=True)
df.age.replace(150.0, np.nan, inplace=True)
df.age.replace(132.0, np.nan, inplace=True)

## Signup

In [18]:
df['signup_method'].value_counts()

#Basic = Standard Airbnb Login
#Facebook = Facebook Login
#Google = Google Login

basic       152897
facebook     60008
google         546
Name: signup_method, dtype: int64

In [19]:
#Not sure what this is

df['signup_flow'].value_counts()

0     164739
25     14659
12      9329
3       8822
2       6881
24      4328
23      2835
1       1047
6        301
8        240
21       196
5         36
20        14
16        11
15        10
10         2
4          1
Name: signup_flow, dtype: int64

## Language

In [20]:
df['language'].value_counts()

en    206314
zh      1632
fr      1172
es       915
ko       747
de       732
it       514
ru       389
pt       240
ja       225
sv       122
nl        97
tr        64
da        58
pl        54
cs        32
no        30
el        24
th        24
id        22
hu        18
fi        14
ca         5
is         5
hr         2
Name: language, dtype: int64

In [21]:
#Rename languages for my readability 

df.language.replace('en', 'english', inplace=True)
df.language.replace('zh', 'chinese', inplace=True)
df.language.replace('fr', 'french', inplace=True)
df.language.replace('es', 'spanish', inplace=True)
df.language.replace('ko', 'korean', inplace=True)
df.language.replace('de', 'german', inplace=True)
df.language.replace('it', 'italian', inplace=True)
df.language.replace('ru', 'russian', inplace=True)
df.language.replace('pt', 'portuguese', inplace=True)
df.language.replace('ja', 'japanese', inplace=True)
df.language.replace('sv', 'swedish', inplace=True)
df.language.replace('nl', 'dutch', inplace=True)
df.language.replace('tr', 'turkish', inplace=True)
df.language.replace('da', 'danish', inplace=True)
df.language.replace('pl', 'polish', inplace=True)
df.language.replace('cs', 'czech', inplace=True)
df.language.replace('no', 'norwegian', inplace=True)
df.language.replace('th', 'thai', inplace=True)
df.language.replace('el', 'greek', inplace=True)
df.language.replace('id', 'indonesian', inplace=True)
df.language.replace('hu', 'hungarian', inplace=True)
df.language.replace('fi', 'finnish', inplace=True)
df.language.replace('ca', 'catalan', inplace=True)
df.language.replace('is', 'icelandic', inplace=True)
df.language.replace('hr', 'croatian', inplace=True)

## Affiliate

In [22]:
df['affiliate_channel'].value_counts()

direct           137727
sem-brand         26045
sem-non-brand     18844
other              8961
seo                8663
api                8167
content            3948
remarketing        1096
Name: affiliate_channel, dtype: int64

In [23]:
#Direct = going to Airbnb.com
#SEM-Brand = Search, using keyword 'Airbnb'
#SEM-Non-Brand = Search, not using keyword 'Airbnb'
#Other
#SEO = Search Engine Optimization
#API = Signing up via an API 
#Content = Blogs citing Airbnb 
#Remarketing = Marketing to people who visited your site before (email?)

In [24]:
df['affiliate_provider'].value_counts()

direct                 137426
google                  51693
other                   12549
craigslist               3471
bing                     2328
facebook                 2273
vast                      829
padmapper                 768
facebook-open-graph       545
yahoo                     496
gsp                       453
meetup                    347
email-marketing           166
naver                      52
baidu                      29
yandex                     17
wayn                        8
daum                        1
Name: affiliate_provider, dtype: int64

In [25]:
#Not sure what this is

df['first_affiliate_tracked'].value_counts()

untracked        109232
linked            46287
omg               43982
tracked-other      6156
product            1556
marketing           139
local ops            34
Name: first_affiliate_tracked, dtype: int64

In [26]:
df['signup_app'].value_counts()

Web        182717
iOS         19019
Moweb        6261
Android      5454
Name: signup_app, dtype: int64

In [27]:
#Rename for readability 

df.signup_app.replace('Moweb', 'Mobile web', inplace=True)

In [28]:
df['first_device_type'].value_counts()

Mac Desktop           89600
Windows Desktop       72716
iPhone                20759
iPad                  14339
Other/Unknown         10667
Android Phone          2803
Android Tablet         1292
Desktop (Other)        1199
SmartPhone (Other)       76
Name: first_device_type, dtype: int64

In [29]:
df['first_browser'].value_counts()

Chrome                  63845
Safari                  45169
Firefox                 33655
-unknown-               27266
IE                      21068
Mobile Safari           19274
Chrome Mobile            1270
Android Browser           851
AOL Explorer              245
Opera                     188
Silk                      124
Chromium                   73
BlackBerry Browser         53
Maxthon                    46
IE Mobile                  36
Apple Mail                 36
Sogou Explorer             33
Mobile Firefox             30
SiteKiosk                  24
RockMelt                   24
Iron                       17
IceWeasel                  13
Pale Moon                  12
SeaMonkey                  11
Yandex.Browser             11
CometBird                  11
Camino                      9
TenFourFox                  8
CoolNovo                    6
wOSBrowser                  6
Avant Browser               4
Opera Mini                  4
Mozilla                     3
OmniWeb                     2
TheWorld Browser            2
Comodo Dragon               2
Opera Mobile                2
Crazy Browser               2
Flock                       2
SlimBrowser                 2
IceDragon                   1
Stainless                   1
Outlook 2007                1
Epic                        1
Arora                       1
Conkeror                    1
Kindle Browser              1
Google Earth                1
Palm Pre web browser        1
PS Vita browser             1
NetNewsWire                 1
Googlebot                   1
Name: first_browser, dtype: int64

In [30]:
df.first_browser.replace('-unknown-', np.nan, inplace=True)
df.first_browser.replace('IE', 'Internet Explorer', inplace=True)
df.first_browser.replace('Chrome Mobile', 'Mobile Chrome', inplace=True)

In [31]:
#Browser could signify country of origin

## Empty Values

In [32]:
df.isnull().sum()

id                              0
date_account_created            0
timestamp_first_active          0
date_first_booking         124543
gender                      95688
age                         88799
signup_method                   0
signup_flow                     0
language                        0
affiliate_channel               0
affiliate_provider              0
first_affiliate_tracked      6065
signup_app                      0
first_device_type               0
first_browser               27266
country_destination             0
days_until_booking         124543
dtype: int64

In [33]:
#No date_first_booking means they didn't make a booking
#We don't have age or gender for approx. 40% of our users

## One Hot Encode

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
ohe_features = ['gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']

In [36]:
for feature in ohe_features:
    df_dummy = pd.get_dummies(df[feature])
    df = df.drop([feature], axis=1)
    df = pd.concat((df, df_dummy), axis=1)

In [37]:
df

,id,date_account_created,timestamp_first_active,date_first_booking,age,country_destination,days_until_booking,FEMALE,MALE,OTHER,...,SeaMonkey,Silk,SiteKiosk,SlimBrowser,Sogou Explorer,Stainless,TenFourFox,TheWorld Browser,Yandex.Browser,wOSBrowser
0,gxn3p5htnn,2010-06-28,2009-03-19,NaT,NaN,NDF,NaT,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,820tgsjxq7,2011-05-25,2009-05-23,NaT,38.0,NDF,NaT,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,4ft3gnwmtx,2010-09-28,2009-06-09,2010-08-02,56.0,US,419 days,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,bjjt8pjhuk,2011-12-05,2009-10-31,2012-09-08,42.0,other,1043 days,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,87mebub9p4,2010-09-14,2009-12-08,2010-02-18,41.0,US,72 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,2014-06-30,NaT,32.0,NDF,NaT,0,1,0,...,0,0,0,0,0,0,0,0,0,0
213447,mhewnxesx9,2014-06-30,2014-06-30,NaT,NaN,NDF,NaT,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213448,6o3arsjbb4,2014-06-30,2014-06-30,NaT,32.0,NDF,NaT,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213449,jh95kwisub,2014-06-30,2014-06-30,NaT,NaN,NDF,NaT,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213450,nw9fwlyb5f,2014-06-30,2014-06-30,NaT,NaN,NDF,NaT,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Train Test Split

In [61]:
X = df.drop(['country_destination','id','date_account_created','timestamp_first_active','age','date_first_booking','days_until_booking'], axis=1)
y = df['country_destination']

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Standard Scaler

In [64]:
from sklearn.preprocessing import StandardScaler

In [65]:
ss = StandardScaler()

## Random Forest Classifier

In [ ]:
from xgboost import XGBoostClassifier

In [66]:
from sklearn.ensemble import GradientBoostingClassifier

In [67]:
gbc = GradientBoostingClassifier()

In [68]:
gbc.fit(X_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [69]:
gbc.score(X_test, y_test)

0.6071435264134325